doctype html
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    meta(http-equiv='description', content='')
    meta(http-equiv='author', content='')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    block head_content
    script(type="text/javascript")
      script(src='/javascripts/front.js')
      block head_script
  body
    block body_content
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(type="text/javascript")
    block body_script
