extends layout

script(type="text/javascript").
    function login() {
        var pwd = $('#inputPassword').val();
        if (!pwd) {
            alert('请输入密码');
            return false;
        }
        var userID = $('#inputEmail').val();
        if (!userID) {
            alert('请输入邮箱');
            return false;
        }
        $('#fr').val(getQueryString('fr'));
        $('#password').val($.md5(pwd));
        return true;
    }

block head_content
    link(rel='stylesheet', href='/stylesheets/signin.css')
    script(src='/javascripts/ie-emulation-modes-warning.js')

block body_content
    div(class='container')
        form(class='form-signin' role='form' method="post" id='loginForm' name='loginForm', action='/login')
            h2(class='form-signin-heading') Please sign in
            label(for='inputEmail' class='sr-only') Email address
            input(type='email' name='email' id='inputEmail' class='form-control' placeholder='Email address' required='' autofocus='')

            label(for='inputPassword' class='sr-only')
            input(type='password' name='password' class='form-control' id='inputPassword' placeholder='Password' required='')

            div(class='checkbox')
                label Remember me
                    input(type='checkbox' value='remember-me' id='checkboxRemember')


            button(class=['btn', 'btn-lg', 'btn-primary', 'btn-block'] type='submit') Sign in

    script(src='/javascripts/ie10-viewport-bug-workaround.js')
//
   Created by AstaTus on 2015/11/22.

